.aplayer {
    background-color: $color-background !important;
    padding: 1rem;
    border: 2px solid $color-primary;
    border-radius: 4px;

    &-body,
    &-list {
        background-color: $color-background;

        &-light {
            background: $color-primary;
        }
    }
}