@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-primary;
}

h1 {
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 300;

    backface-visibility: hidden;
}

h2 {
    color: $color-primary;
    font-size: 2rem;
    font-weight: 100;
    display: inline-block;
    letter-spacing: .1rem;
}

p { 
    font-size: $default-font-size;
    display: inline-block;
}
